.hero {
    background-image: url("../../assets/images/header-bg.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    height: 500px;
    width: 100%;
  }
  .hero .container {
    padding-top: 5%;
  }
  .hero h1 {
    text-align: center;
    color: #fff;
    font-size: 60px;
  }
  .hero p {
    text-align: center;
    color: #fff;
    opacity: 0.8;
    padding: 20px;
  }
  .btn6{
    padding: 20px 40px;
    color:#fff ;
    font-size: 20px;
    background:#D2691E ;
    border-radius: 4px;
    margin: 10px;
    text-decoration: none;
  }
  .btn4{
    padding: 20px 40px;
    color:#fff ;
    font-size: 20px;
    background:#283048 ;
    border-radius: 4px;
    margin: 10px;
    text-decoration: none;
  }
  .hero-links{
   margin-top: 5%; 
   margin-left: 35%;
  
  }

@media(min-width: 992px){
    .header__content{
        flex-direction: row;
    }
    .header__content--right{
        text-align: left;
        width: 50%;
    }
    .header__content--left{
        width: 50%;
    }
    .header__content--right .para__text{
        margin-left: 0;
    }
}